POSTGRES_DB=UrlShorterDb
POSTGRES_USER=admin
POSTGRES_PASSWORD=change_me
REDIS_CONNECTION=redis:6379
JWT_SECRET=change_me_min_32_chars
DATA_CLEANUP_CLICK_LOG_RETENTION_DAYS=365
DATA_CLEANUP_EXPIRED_URL_RETENTION_DAYS=30
