# .NET
bin/
obj/
*.user
*.userosscache
*.sln.docstates
.vs/
.idea/
.vscode/
*.db
*.db-shm
*.db-wal

# Node / Frontend
node_modules/
dist/
dist-ssr
*.local
.eslintcache

# Project Specific
UrlShorter.API/appsettings.json
UrlShorter.API/appsettings.Development.json
graphify-out/
AGENTS.md
GEMINI.md
DESIGN.md
docker.env
.env
.idea