# .NET
bin/
obj/
*.user
*.userosscache
*.sln.docstates
.vs/
.idea/
.vscode/
*.db
*.db-shm
*.db-wal
*.md
# Node / Frontend
node_modules/
dist/
dist-ssr
*.local
.eslintcache
package-lock.json
package.json
commitlint.config.js
.husky/
nginx.conf
UrlShorter.FrontEnd/nginx.conf

# Project Specific
src/UrlShorter.API/appsettings.Development.json
graphify-out/
AGENTS.md
GEMINI.md
DESIGN.md
docker.env
.env
.idea
images/
